<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>监控统计信息</title>
    <link rel="stylesheet" href="./stylesheet/common.css">
    <link rel="stylesheet" href="./stylesheet/layout.css">
    <link rel="stylesheet" href="./stylesheet/list.css">
    <link rel="stylesheet" href="./libs/css/bootstrap.min.css">

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
</head>
<body>
    <header>
        <div>
            <img src="/imgs/qiniulogo.png" alt="">
            <p>互联网视频监控云</p>
        </div>
        <div id="navbar"></div>
    </header>

    <section>
        <div id="wxb_list_table_container">
            <div id="wxb_list_tab_menu" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label id="wxb_list_tab_app_label" class="btn btn-info active">
                    <input type="radio" name="options" id="wxb_list_tab_app" autocomplete="off" checked> APP列表
                </label>
                <label id="wxb_list_tab_user_label" class="btn btn-info">
                    <input type="radio" name="options" id="wxb_list_tab_user" autocomplete="off"> 账户列表
                </label>
                <label id="wxb_list_tab_event_label" class="btn btn-info">
                    <input type="radio" name="options" id="wxb_list_tab_event" autocomplete="off"> 事件列表
                </label>
            </div>
            <table id="wxb_list_table">
                <tr>
                    <th>序号</th>
                    <th>应用名称</th>
                    <th>上传资源数量</th>
                    <th>资源访问总数</th>
                    <th>资源扫描完成率</th>
                    <th>命中违禁资源量</th>
                    <th>活跃用户数</th>
                    <th>应用平台资源健康指数</th>
                    <th>应用平台用户健康指数</th>
                </tr>
            </table>
        </div>
        
        <div id="wxb_task_modal_apppanel" class="component-hidden">
            <p><span class="js-wxb-task-modal-back" data-path="1">返回</span></p>
            <p id="wxb_task_apppanel_title">违禁信息汇总列表</p>
            <table id="wxb_list_app_table">
                <tr>
                    <th>序号</th>
                    <th>资源地址</th>
                    <th>上传时间</th>
                    <th>访问量</th>
                    <th>
                        资源类型
                        <select name="" id="">
                            <option value="图片">图片</option>
                            <option value="视频">视频</option>
                        </select>
                    </th>
                    <th>上传账号</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </table>
        </div>

        <div id="wxb_task_modal_userpanel" class="component-hidden">
            <p><span class="js-wxb-task-modal-back" data-path="2">返回</span></p>

            <table>
                <tr>
                    <th>序号</th>
                    <th>平台</th>
                    <th>账号</th>
                    <th>上传数量</th>
                    <th>上传违禁资源数量</th>
                    <th>资源访问总量</th>
                    <th>违禁资源访问总量</th>
                    <th>账户活跃度</th>
                    <th>账户设备数</th>
                    <th>账户接入点区域覆盖</th>
                    <th>账户分类</th>
                    <th>账户监控指数</th>
                    <th>操作</th>
                </tr>
            </table>
        </div>
    
        <div id="wxb_task_modal_eventpanel" class="component-hidden">
            <p><span class="js-wxb-task-modal-back" data-path="2">返回</span></p>

            <table id="wxb_list_event_table">
                <tr>
                    <th>序号</th>
                    <th>资源地址</th>
                    <th>上传时间</th>
                    <th>访问量</th>
                    <th>
                        资源类型
                        <select name="" id="">
                            <option value="图片">图片</option>
                            <option value="视频">视频</option>
                        </select>
                    </th>
                    <th>违禁类别</th>
                    <th>上传账号</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </table>
        </div>
                    
        <div id="wxb_task_modal_detaillist" class="component-hidden">
            <p><span class="js-wxb-task-modal-back" data-path="2">返回</span></p>
            <!-- <p id="wxb_task_site_title">xx</p> -->
            
            <table id="wxb_task_detail_site_table">
                <tr>
                    <th>序号</th>
                    <th>资源地址</th>
                    <th>创建日期</th>
                    <th>内容</th>
                    <th>分类</th>
                    <th>当前传播量</th>
                    <th>传播路径详细</th>
                    <th>导出报表</th>
                </tr>
                <tr><td>1</td><td>v.xxxx.com</td><td>2018-08-01</td><td><video width=200 controls><source src="http://pbvz06277.bkt.clouddn.com/o_1ciduni761og1ufohp0slb6b59.mp4" type="video/mp4"></video></td><td>淫秽</td><td>1234</td><td onclick="showTraceMap()" class="wxb-common-hover">传播图</td><td>导出</td></tr>
                    <tr><td>1</td><td>v.xxxx.com</td><td>2018-08-01</td><td><video width=200 controls><source src="http://pbvz06277.bkt.clouddn.com/o_1ciduni761og1ufohp0slb6b59.mp4" type="video/mp4"></video></td><td>淫秽</td><td>1234</td><td onclick="showTraceMap()" class="wxb-common-hover">传播图</td><td>导出</td></tr>
                    <tr><td>1</td><td>v.xxxx.com</td><td>2018-08-01</td><td><video width=200 controls><source src="http://pbvz06277.bkt.clouddn.com/o_1ciduni761og1ufohp0slb6b59.mp4" type="video/mp4"></video></td><td>淫秽</td><td>1234</td><td onclick="showTraceMap()" class="wxb-common-hover">传播图</td><td>导出</td></tr>
                    <tr><td>1</td><td>v.xxxx.com</td><td>2018-08-01</td><td><video width=200 controls><source src="http://pbvz06277.bkt.clouddn.com/o_1ciduni761og1ufohp0slb6b59.mp4" type="video/mp4"></video></td><td>淫秽</td><td>1234</td><td onclick="showTraceMap()" class="wxb-common-hover">传播图</td><td>导出</td></tr>
                    <tr><td>1</td><td>v.xxxx.com</td><td>2018-08-01</td><td><video width=200 controls><source src="http://pbvz06277.bkt.clouddn.com/o_1ciduni761og1ufohp0slb6b59.mp4" type="video/mp4"></video></td><td>淫秽</td><td>1234</td><td onclick="showTraceMap()" class="wxb-common-hover">传播图</td><td>导出</td></tr>
                    <tr><td>1</td><td>v.xxxx.com</td><td>2018-08-01</td><td><video width=200 controls><source src="http://pbvz06277.bkt.clouddn.com/o_1ciduni761og1ufohp0slb6b59.mp4" type="video/mp4"></video></td><td>淫秽</td><td>1234</td><td onclick="showTraceMap()" class="wxb-common-hover">传播图</td><td>导出</td></tr>
                    <tr><td>1</td><td>v.xxxx.com</td><td>2018-08-01</td><td><video width=200 controls><source src="http://pbvz06277.bkt.clouddn.com/o_1ciduni761og1ufohp0slb6b59.mp4" type="video/mp4"></video></td><td>淫秽</td><td>1234</td><td onclick="showTraceMap()" class="wxb-common-hover">传播图</td><td>导出</td></tr>
                    <tr><td>1</td><td>v.xxxx.com</td><td>2018-08-01</td><td><video width=200 controls><source src="http://pbvz06277.bkt.clouddn.com/o_1ciduni761og1ufohp0slb6b59.mp4" type="video/mp4"></video></td><td>淫秽</td><td>1234</td><td onclick="showTraceMap()" class="wxb-common-hover">传播图</td><td>导出</td></tr>
                </table>
        </div>
    </section>

    <footer>
        <p>@copy right reserved by Qiniu</p>
    </footer>

    <div id="wxb_list_modal_detail_trace" class="component-hidden">
        <div id="tracemap" style="height: 80vh; width: 80vw;"></div>
    </div>

    <div id="wxb_list_modal_user_detail" class="component-hidden">
        <div class="wxb-list-model-container">
            <p>账号数据分析</p>
            <div>
                <table>
                    <tr><th>平台</th><td>抖音</td></tr>
                    <tr><th>账号</th><td>alpha</td></tr>
                    <tr><th>上传数量</th><td>200</td></tr>
                    <tr><th>上传违禁资源数量</th><td>12</td></tr>
                    <tr><th>资源访问总量</th><td>2333</td></tr>
                    <tr><th>违禁资源访问总量</th><td>133</td></tr>
                    <tr><th>账户活跃度</th><td>7.7</td></tr>
                    <tr><th>账户接入点区域分布</th><td>北京、上海</td></tr>
                    <tr><th>账户倾向分类</th><td>涉黄</td></tr>
                    <tr><th>账户健康指数</th><td>7.9</td></tr>
                    <tr><th>曾使用的IP地址</th><td>219.231.3.123<br />219.231.3.121<br />219.231.3.111</td></tr>
                </table>
    
                <div id="wxb_list_modal_detail_radar"></div>
    
                <table>
                    <tr><th colspan=2>设备一</th></tr>
                    <tr><th>账户登陆设备所属手机号</th><td>18612345678</td></tr>
                    <tr><th>网络设备运营商</th><td>移动</td></tr>
                    <tr><th>DEVICE_ID(IMEI)</th><td>281918270736271</td></tr>
                    <tr><th>MAC_ADDRESS</th><td>48:6h:3c:3d:9a:3a</td></tr>
                    <tr><th>SIM SERIAL NUMBER</th><td>3948473627</td></tr>
                    <tr><th>ANDROID_ID</th><td>A9282Y31N2NN4H24U424O</td></tr>
                    <tr><th>SERIAL NUMBER (SN)</th><td>AE9802JI23J2</td></tr>
                    <tr><th>INSTALLTION_ID</th><td>GWH28-DGCMP-P6RC4-6J4MT-3HFDY</td></tr>
                </table>
    
                <table>
                    <tr><th colspan=2>设备二</th></tr>
                    <tr><th>账户登陆设备所属手机号</th><td>18612345678</td></tr>
                    <tr><th>网络设备运营商</th><td>移动</td></tr>
                    <tr><th>DEVICE_ID(IMEI)</th><td>281918270736271</td></tr>
                    <tr><th>MAC_ADDRESS</th><td>48:6h:3c:3d:9a:3a</td></tr>
                    <tr><th>SIM SERIAL NUMBER</th><td>3948473627</td></tr>
                    <tr><th>ANDROID_ID</th><td>A9282Y31N2NN4H24U424O</td></tr>
                    <tr><th>SERIAL NUMBER (SN)</th><td>AE9802JI23J2</td></tr>
                    <tr><th>INSTALLTION_ID</th><td>GWH28-DGCMP-P6RC4-6J4MT-3HFDY</td></tr>
                </table>
    
                <table>
                    <tr><th colspan=2>设备三</th></tr>
                    <tr><th>账户登陆设备所属手机号</th><td>18612345678</td></tr>
                    <tr><th>网络设备运营商</th><td>移动</td></tr>
                    <tr><th>DEVICE_ID(IMEI)</th><td>281918270736271</td></tr>
                    <tr><th>MAC_ADDRESS</th><td>48:6h:3c:3d:9a:3a</td></tr>
                    <tr><th>SIM SERIAL NUMBER</th><td>3948473627</td></tr>
                    <tr><th>ANDROID_ID</th><td>A9282Y31N2NN4H24U424O</td></tr>
                    <tr><th>SERIAL NUMBER (SN)</th><td>AE9802JI23J2</td></tr>
                    <tr><th>INSTALLTION_ID</th><td>GWH28-DGCMP-P6RC4-6J4MT-3HFDY</td></tr>
                </table>
            </div>
        </div>
    </div>
    
    <div id="wxb_list_modal_report" class="component-hidden">
        <div class="wxb-list-model-container">
            <p>通报内容</p>
            <table>
                <tr><td>相关账号</td><td>alpha</td></tr>
                <tr><td>资源地址</td><td>http://douyin.com/video/sfefefinge==</td></tr>
                <tr><td>上传时间</td><td>2018-09-05 09:10:57</td></tr>
                <tr><td>访问量</td><td>788</td></tr>
                <tr><td>类型</td><td>视频</td></tr>
                <tr><td>违规判定</td><td>严重涉黄</td></tr>
                <tr><td>处理要求</td><td>即刻封禁</td></tr>
            </table>

            <button class="btn-info" onclick="toggleReportModal()">发送通告</button>
        </div>
    </div>

    <div id="wxb_list_modal_addlist" class="component-hidden">
        <div id="wxb_list_applist">
            <div>
                <div id="wxb_list_modal_detail_map"></div>
                <div id="wxb_list_modal_detail_pie"></div>
            </div>
        </div>
    </div>
    <script src="./javascript/config.js"></script>
    <script src="./javascript/list.js"></script>
    <script src="./libs/js/jquery.min.js"></script>
    <script src="./libs/js/bootstrap.min.js"></script>
    <script>
        $().button('toggle');
    </script>
</body>
</html>