section {
  background: #0f3f5c;
  display: flex;
  align-items: center;
  color: white;
}
#wxb_home_leftpanel {
  width: 25vw;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: .8rem;
}
#wxb_home_leftpanel > div {
  background: #0e3852;
  padding: 1rem;
}
#wxb_home_leftpanel #wxb_home_panel_1 {
  width: 100%;
}
#wxb_home_leftpanel #wxb_home_panel_1 td {
  padding: .3rem;
}
#wxb_home_leftpanel #wxb_home_panel_1 td:first-child {
  width: 40%;
}
#wxb_home_leftpanel #wxb_home_panel_1 td:last-child {
  width: 60%;
}
#wxb_home_leftpanel #wxb_home_panel_1 td div {
  height: 12px;
}
#wxb_home_leftpanel #wxb_home_panel_1 .wxb-home-panel-1-green {
  background: green;
  width: 80%;
}
#wxb_home_leftpanel #wxb_home_panel_1 .wxb-home-panel-1-yellow {
  background: yellow;
  width: 5%;
}
#wxb_home_leftpanel #wxb_home_panel_1 .wxb-home-panel-1-red {
  background: red;
  width: 20%;
}
#wxb_home_leftpanel #wxb_home_static_table {
  width: 100%;
}
#wxb_home_leftpanel #wxb_home_static_table td {
  padding: .3rem;
}
#wxb_home_leftpanel #wxb_home_static_table td:nth-of-type(2) {
  text-align: right;
}
#wxb_home_middlepanel > p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 2rem;
}
#wxb_home_middlepanel #wxb_home_map {
  width: 50vw;
  height: 77vh;
}
#wxb_home_rightpanel {
  width: 25vw;
  padding: 1rem;
  font-size: .8rem;
}
#wxb_home_rightpanel > p {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
}
#wxb_home_rightpanel table {
  width: 100%;
  border-collapse: collapse;
}
#wxb_home_rightpanel table tr {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#wxb_home_rightpanel table tr:hover {
  background: #1f77a6;
  cursor: pointer;
}
#wxb_home_rightpanel table td {
  padding: .5rem;
  color: #dddddd;
  text-align: center;
}
#wxb_list_modal_detail_trace {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
#wxb_list_modal_detail_trace #tracemap {
  background: rgba(255, 255, 255, 0.8);
}
