header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header div:first-child {
  height: 70%;
}
header div:first-child img {
  height: 80%;
  margin-left: 5vw;
}
header div:first-child p {
  margin-left: 5vw;
  font-size: 2rem;
}
header div#wa_home_navbar {
  justify-content: space-around;
  padding: .3rem;
  background: url('/imgs/navbg.jpg');
  font-size: 1.2rem;
  height: 30%;
}
header div#wa_home_navbar a {
  color: #777;
  text-decoration: none;
}
header div#wa_home_navbar a.wa-home-nav-selected {
  color: #DAA520;
}
section {
  height: 81vh;
  padding: 20px;
  overflow: auto;
}
footer {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  text-align: center;
  font-size: .7rem;
}
