section > div {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  padding: .5rem;
  border: 1px solid #aaa;
  text-align: center;
  height: 3rem;
}
table td:hover,
table th:hover {
  cursor: pointer;
}
#wxb_list_table_container td:nth-of-type(2) {
  text-decoration: underline;
  color: blue;
}
#wxb_list_detail_container #wxb_list_detail_title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}
.wxb-list-status-red {
  height: 1.2rem;
  background: #b90000;
}
.wxb-list-status-yellow {
  height: 1.2rem;
  background: yellow;
}
.wxb-list-status-green {
  height: 1.2rem;
  background: #0ac00a;
}
#wxb_list_detail_back {
  font-size: 1rem;
  padding: 1rem;
}
#wxb_list_detail_back:before {
  content: '\21E6';
}
#wxb_list_detail_back:hover {
  cursor: pointer;
}
